body,html{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial,Arial, Helvetica, sans-serif;
    background-color: #067594;
    line-height: 1.65;
}
.container-satu{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar-satu{
    min-width: 300px;
}